@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

// variables
$body: #18170D;
$white: #FFFFFF;
$right: #B4B4B4;
$info: darkblue;
$lighter: #787878;
$darkest: #000;
$neon: #429786;

// layout
body {
  background: $body;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  * + * {
  margin-top: 30px;
  margin-top: 1.5rem;
  }
  .wrapper {
  background: $white;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
	min-height: 1024px; // A4
  width: 768px; // A4
  }
}

// styles

h1, h2, h3 {
  margin-left: 1em;
}

a {
  text-decoration: none;
  color: $darkest;
  &:hover {
    color: $neon;
  }
}

.lighter {
  color: $lighter;
}

.wrapper {
      header {
        h2 {
          line-height: .1em;
        }
        img {
          border-radius: 50%;
          margin: 0.6em 2em 1em 2em;
          float: left;
        }
      }
      section {
        clear:both;
        margin-top: 4em;
        h3 {
          margin: 0 0 0 1em;
        }
        p {
          line-height: 1.5em;
          margin: 0 1em 0 4em;
        }
      }
    }
    aside {
      background: $right;
      margin-top: 0;
      h2 {
        color: $info;
        font-size: 1.2em;
        margin-top: 3em;
        text-transform: uppercase;
      }
      p {
        margin-left: 1em;
        line-height: .2em;
      }
    }

@media all and (min-width: 768px) {
  main {
   flex: 1 0;
   order: 1;
}
  aside {
    order: 2;
    width: 30%;
}
}

@media all and (max-width: 767px) {
  main,
  aside {
  flex: 1 100%;
  }
  aside {
    flex: 1 auto;
    order: 2;
  }
	main {
    order: 1;
  }
}
